<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Editar producto')">

<section>

    <div class="card">
        <h3>✏️ Editar producto</h3>

        <form th:action="@{/web/productos/actualizar/{id}(id=${producto.id})}"
              th:object="${producto}"
              method="post">

            <input type="hidden" th:field="*{id}"/>
            <input th:field="*{sku}" readonly/>
            <input th:field="*{nombre}" placeholder="Nombre"/>
            <input type="number" th:field="*{precioVenta}" placeholder="Precio"/>
            <select th:field="*{proveedor}">
                <option value="">Proveedor</option>
                <option th:each="prov : ${proveedores}"
                        th:value="${prov.id}"
                        th:text="${prov.nombre}">
                </option>
            </select>
            <button type="submit">Guardar cambios</button>
        </form>

    </div>

</section>
</html>