<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Productos')">

<section>

    <div class="card">
        <h3>➕ Nuevo producto</h3>

        <form th:action="@{/web/productos/guardar}"
              th:object="${productoNuevo}"
              method="post">

            <input th:field="*{sku}" placeholder="SKU"/>
            <input th:field="*{nombre}" placeholder="Nombre"/>

            <input type="number" th:field="*{precioVenta}" placeholder="Precio"/>
            <select th:field="*{proveedor}">
                <option value="">Proveedor</option>
                <option th:each="prov : ${proveedores}"
                        th:value="${prov.id}"
                        th:text="${prov.nombre}">
                </option>
            </select>
            <button type="submit">Guardar</button>
        </form>

    </div>

    <div class="card">
        <h3>Productos</h3>
        <input class="buscador-tabla" placeholder="Buscar...">
        <table class="tabla-buscable" th:if="${!productos.isEmpty()}">
            <thead>
            <tr>
                <th>Articulo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${productos}">
                <td th:text="${p.sku}"></td>
                <td th:text="${p.nombre}"></td>
                <td th:text="${p.precioVenta}"></td>
                <td>
                    <a th:href="@{'/web/variantes/' + ${p.id}}">Ver variantes</a>
                    <a th:href="@{'/web/productos/editar/' + ${p.id}}">Editar</a>
                    <a th:href="@{'/web/productos/eliminar/' + ${p.id}}">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</section>
</html>