<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Editar proveedor')">

<section>

    <div class="card" style="max-width:500px;margin:auto;">
        <h3>✏️ Editar proveedor</h3>

        <form th:action="@{/web/proveedores/actualizar/{id}(id=${proveedor.id})}"
              th:object="${proveedor}"
              method="post">

            <input type="hidden" th:field="*{id}"/>

            <input th:field="*{nombre}" placeholder="Nombre"/>
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

            <input th:field="*{descripcion}" placeholder="Descripcion"/>
            <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>

            <input th:field="*{cuit}" placeholder="CUIT"/>
            <div th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"></div>

            <input th:field="*{email}" placeholder="Email"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <input th:field="*{telefono}" placeholder="Teléfono"/>
            <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>

            <input th:field="*{direccion}" placeholder="Dirección"/>
            <div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>

            <button type="submit">Guardar cambios</button>
        </form>

        <a th:href="@{/web/proveedores}">← Volver</a>
    </div>

</section>
</html>