<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Proveedores')">

<section>

    <div class="card">
        <h3>➕ Nuevo proveedor</h3>

        <form th:action="@{/web/proveedores/guardar}"
              th:object="${proveedorNuevo}"
              method="post">

            <input th:field="*{nombre}" placeholder="Nombre"/>
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

            <input th:field="*{descripcion}" placeholder="Descripcion"/>
            <div th:if="${#fields.hasErrors('cuit')}" th:errors="*{descripcion}"></div>

            <input th:field="*{cuit}" placeholder="CUIT"/>
            <div th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"></div>

            <input th:field="*{email}" placeholder="Email"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <input th:field="*{telefono}" placeholder="Teléfono"/>
            <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>

            <input th:field="*{direccion}" placeholder="Dirección"/>
            <div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>

            <button type="submit">Guardar</button>
        </form>
    </div>

    <div class="card">
        <h3>Proveedores</h3>

        <table th:if="${!proveedores.isEmpty()}">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>CUIT</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${proveedores}">
                <td th:text="${p.nombre}"></td>
                <td th:text="${p.descripcion}"></td>
                <td th:text="${p.cuit}"></td>
                <td th:text="${p.email}"></td>
                <td th:text="${p.telefono}"></td>
                <td th:text="${p.direccion}"></td>
                <td>
                    <a th:href="@{'/web/proveedores/editar/' + ${p.id}}">Editar</a>
                    <a th:href="@{'/web/proveedores/eliminar/' + ${p.id}}">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${proveedores.isEmpty()}">
            No hay proveedores cargados.
        </div>
    </div>

</section>
</html>