<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Editar cliente')">

<section>

    <div class="card" style="max-width:600px;margin:auto;">
        <h3>✏️ Editar cliente</h3>

        <form th:action="@{/web/clientes/actualizar/{id}(id=${cliente.id})}"
              th:object="${cliente}"
              method="post">

            <input type="hidden" th:field="*{tipoCliente}" value="MAYORISTA"/>

            <input type="hidden" th:field="*{id}"/>

            <input th:field="*{nombre}" placeholder="Nombre"/>
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

            <input th:field="*{apellido}" placeholder="Apellido"/>
            <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>

            <input th:field="*{descripcion}" placeholder="Descripcion"/>
            <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>

            <input th:field="*{documento}" placeholder="DNI o CUIT"/>
            <div th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"></div>

            <input type="email" th:field="*{email}" placeholder="Email"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <input th:field="*{telefono}" placeholder="Teléfono"/>
            <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>

            <input th:field="*{direccion}" placeholder="Dirección"/>
            <div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>

            <button type="submit">Actualizar</button>
            <a th:href="@{/web/clientes}" style="margin-left:10px;">Cancelar</a>
        </form>
    </div>

</section>
</html>