<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Clientes')">

<section>

    <div class="card">
        <h3>➕ Nuevo cliente</h3>

        <form th:action="@{/web/clientes/guardar}"
              th:object="${clienteNuevo}"
              method="post">

            <input th:field="*{nombre}" placeholder="Nombre"/>
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

            <input th:field="*{apellido}" placeholder="Apellido"/>
            <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>

            <input th:field="*{descripcion}" placeholder="Descripcion"/>
            <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>

            <input th:field="*{documento}" placeholder="DNI o CUIT"/>
            <div th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"></div>

            <input type="email" th:field="*{email}" placeholder="Email"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <input th:field="*{telefono}" placeholder="Teléfono"/>
            <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>

            <input th:field="*{direccion}" placeholder="Dirección"/>
            <div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>


            <button type="submit">Guardar</button>
        </form>
    </div>

    <div class="card">
        <h3>Clientes</h3>
        <input class="buscador-tabla" placeholder="Buscar...">
        <table class="tabla-buscable" th:if="${!clientes.isEmpty()}">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Documento</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="c : ${clientes}">
                <td th:text="${c.nombre + ' ' + c.apellido}"></td>
                <td th:text="${c.descripcion}"></td>
                <td th:text="${c.documento}"></td>
                <td th:text="${c.email}"></td>
                <td th:text="${c.telefono}"></td>
                <td th:if="${c.id != 1}">
                    <a th:href="@{'/web/clientes/editar/' + ${c.id}}">Editar</a>
                    <a th:href="@{'/web/clientes/eliminar/' + ${c.id}}">Eliminar</a>
                </td>

                <td th:if="${c.id == 1}">
                    Cliente por defecto
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${clientes.isEmpty()}">
            No hay clientes cargados.
        </div>
    </div>
</section>
</html>