<div th:fragment="navbar">

    <nav class="navbar">

        <div class="navbar-container">
            <a th:href="@{/web/ventas}" class="nav-item">Ventas</a>

            <a th:href="@{/web/productos}" class="nav-item">Productos</a>

            <a th:href="@{/web/clientes}" class="nav-item">Clientes</a>

            <a th:href="@{/web/cuentas}" class="nav-item">Cuentas</a>

            <a th:href="@{/web/proveedores}" class="nav-item">Proveedores</a>

            <a th:href="@{/web/caja}" class="nav-item">Caja</a>

            <a th:href="@{/web/dashboard}" class="nav-item nav-dashboard">Estadisticas</a>
        </div>

    </nav>

</div>