<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Home')">

    <section>

        <div class="container">

            <div class="card">
                <h3>📦 Productos</h3>
                <p>Gestión de stock y catálogo</p>
                <a th:href="@{/web/productos}">Ir al módulo</a>
            </div>

            <div class="card">
                <h3>🚚 Proveedores</h3>
                <p>Alta y administración de proveedores</p>
                <a th:href="@{/web/proveedores}">Ir al módulo</a>
            </div>

            <div class="card">
                <h3> Clientes</h3>
                <p>Alta y administración de clientes</p>
                <a th:href="@{/web/clientes}">Ir al módulo</a>
            </div>

            <div class="card">
                <h3>🧾 Ventas</h3>
                <p>Administracion de ventas</p>
                <a th:href="@{/web/ventas}">Ir al módulo</a>
            </div>

            <div class="card">
                <h3>🏦 Caja</h3>
                <p>Administracion de caja</p>
                <a th:href="@{/web/caja}">Ir al módulo</a>
            </div>

            <div class="card">
                <h3>🏦 Cuentas Corrientes</h3>
                <p>Administracion de cuentas corrientes</p>
                <a th:href="@{/web/cuentas}">Ir al módulo</a>
            </div>

            <div class="card">
                <h3> Dashboard </h3>
                <p>Administracion de estadisticas </p>
                <a th:href="@{/web/dashboard}">Ir al módulo</a>
            </div>

        </div>
    </section>
</html>