<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Detalle Venta')">

<section>

    <div class="card">
        <h3>Detalle Venta #<span th:text="${venta.id}"></span></h3>

        <p><b>Cliente:</b>
            <span th:text="${venta.cliente.nombre + ' ' + venta.cliente.apellido}"></span>
        </p>

        <p><b>Fecha:</b>
            <span th:text="${venta.fecha.format(formatter)}"></span>
        </p>

        <p><b>Total:</b> $<span th:text="${venta.total}"></span></p>

        <h4>Productos</h4>

        <table>
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${detalles}">
                <td th:text="${item.producto.nombre}"></td>
                <td th:text="${item.cantidad}"></td>
                <td th:text="${item.precioUnitario}"></td>
                <td th:text="${item.subtotal}"></td>
            </tr>
            </tbody>
        </table>

        <br>
        <a th:href="@{/web/ventas/listar}" class="button">← Volver</a>
    </div>

</section>
</html>