<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Ventas')">

<section>

    <div class="card">
        <h3>Listado de Ventas</h3>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="v : ${ventas}">
                <td th:text="${v.id}"></td>
                <td th:text="${v.cliente.nombre + ' ' + v.cliente.apellido}"></td>
                <td th:text="${v.fecha.format(formatter)}"></td>
                <td th:text="${v.total}"></td>
                <td>
                    <span th:if="${v.estado != null and v.estado.name() == 'PAGADA'}">🟢 Pagada</span>
                    <span th:if="${v.estado != null and v.estado.name() == 'PARCIAL'}">🟡 Parcial</span>
                    <span th:if="${v.estado != null and v.estado.name() == 'PENDIENTE'}">🔴 Pendiente</span>
                    <span th:if="${v.estado == null}">⚪ Sin estado</span>
                </td>
                <td>
                    <a th:href="@{/web/ventas/detalle/{id}(id=${v.id})}">Ver</a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>
        <a th:href="@{/web/ventas/nueva}" class="button">Nueva venta</a>
    </div>

</section>
</html>