<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section}, 'Variante')">

    <section>
        <form th:action="@{'/web/variantes/actualizar/' + ${variante.id}}"
              th:object="${variante}"
              method="post">

            <select th:field="*{color}">
                <option th:each="c : ${colores}"
                        th:value="${c}"
                        th:text="${c}">
                </option>
            </select>

            <select th:field="*{talle}">
                <option th:each="t : ${talles}"
                        th:value="${t}"
                        th:text="${t}">
                </option>
            </select>

            <input type="number"
                   step="0.01"
                   th:field="*{precioPublicoFinal}"
                   placeholder="Precio Público"/>

            <input type="number"
                   step="0.01"
                   th:field="*{precioMayoristaFinal}"
                   placeholder="Precio Mayorista"/>


            <button type="submit">Guardar</button>

        </form>
    </section>

</html>